<%- include common/header.ejs %>

<div class="container">

    <%- include common/navbar.ejs %>

    <div class="jumbotron">
        <h1>
            <%=title %>
        </h1>
    </div>
    <div class="row">
        <br/>
        <div class="col-md-2 col-sm-3 text center">
            Sign In
        </div>
        <div class="col-md-10 col-sm-9">
            Sign Up
            <form name="signUpForm" action="/auth/signup" method="post">
                <input name="userName" id="userName">
                <input name="password" id="password">
                <input type="submit" value="Sign Up">
            </form>
        </div>
    </div>

</div>

<%- include common/footer.ejs %>
