<%- include common/header.ejs %>

<div class="container">

    <%- include common/navbar.ejs %>

    <div class="jumbotron">
        <h1>
            <%= title %> in EJS
        </h1>
    </div>
    <ul>

    </ul>
</div>

<%- include common/footer.ejs %>
