<%- include common/header.ejs %>

<div class="container">

    <%- include common/navbar.ejs %>

    <%if(!isLoggedIn){%>
    <div class="row">
        <br/>
        <div class="col-md-4 col-sm-4 text-center">
            Sign In
            <form name="signInForm" action="/auth/signin" method="post">
                Username<br/> <input type="text" name="username" placeholder="username" minlength="6" maxlength="16" required><br/>
                Password:<br/><input type="password" name="password" placeholder="password" minlength="6" maxlength="16" required><br/>
                <input type="submit" value="Sign In">
            </form>
        </div>
        <div class="col-md-4 col-sm-4 text-center">
            Sign Up
            <form name="signUpForm" action="/auth/signup" method="post">
                Username:<br/><input type="text" name="username" placeholder="username" minlength="6" maxlength="16" required><br/>
                Password:<br/><input type="password" name="password" placeholder="password" minlength="6" maxlength="16" required><br/>
                Repeat Password:<br/><input type="password" name="repeatedPassword" placeholder="password" minlength="6" maxlength="16" required><br/>
                <input type="submit" value="Sign Up">
            </form>
        </div>
    </div>
    <%} else {%>
        <div class="row text-center">
            <h3>
                Hello <%=username%>
            </h3>
        </div>
    <%}%>
</div>

<%- include common/footer.ejs %>
