<%- include common/header.ejs %>

<div class="container">
    <div class="jumbotron">
        <h1>
            todos
        </h1>
    </div>
    <ul>

    </ul>
</div>

<%- include common/footer.ejs %>
